
body {
  background-color: white;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.product {
  display: inline-block; 
  width: 280px;
  border: 2px solid black;
  background-color: lightgrey;
  padding: 10px 20px 10px 20px;
 margin: 5px 0px 0px 10px;
  text-align: center;
  vertical-align: top; 
}

.product:hover {
  outline: 4px solid blue;
  outline-offset: 10px;
}

img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

h3 {
  color: black;
}

p {
  color: black;
}