
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1c1c;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.calculator {
    width: 320px;
    background-color: #000;
    padding: 20px;
    border-radius: 40px;
}


.display {
    color: white;
    font-size: 4rem;
    text-align: right;
    padding: 20px 10px;
    font-weight: 300;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}


.btn {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #333;
    color: white;
    transition: filter 0.1s;
}

.btn:active {
    filter: brightness(1.5);
}


.action {
    background-color: #a5a5a5;
    color: black;
}

.operator {
    background-color: #ff9f0a;
    color: white;
    font-size: 1.8rem;
}


.zero {
    grid-column: span 2;
    width: 142px;
    border-radius: 40px;
    text-align: left;
    padding-left: 25px;
}