
* {
  font-style: Times New Roman;
}


body {
  background-color: rgb(148, 148, 131);
  margin: 20px;
}


h1 {
  color: rgb(15, 15, 15);
  text-align: center;
}


h3 {
  color: darkblue;
  font-weight: 300;
}


#third-class {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
}


.class-selector {
  font-size: 20px;
  font-weight: 300;
}


h4.class-selector {
  color: red;
}


h1,
h2,
h3 {
  background-color: lightgrey;
  padding: 5px;
}


h5 {
  font-size: 30px;
}


#test {
  font-size: 40px;
}


button {
  margin: 5px 0px 0px 10px; 
  padding: 10px 20px 10px 20px; 
  cursor: pointer;
}